@function px2vw($px, $def_screen: 1920) {
  $vw: calc($def_screen * 0.01);
  @return calc(($px/$vw) * 1vw);
}

.root {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 500px;
  color: #fff;

  @media (hover: none) {
    .shapes {
      visibility: hidden;
    }

    .textHolder {
      mix-blend-mode: normal;

      h1 {
        span:not([class]) {
          color: #8970ef;
        }
      }

      .textWrap svg {
        display: inline-block;
      }
    }
  }

  .shapes {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #000;
    overflow: hidden;

    [data-theme="light"] & {
      background: #fff;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;

      [data-theme="light"] & {
        background: #1d1d1f;
      }
    }

    .shape {
      position: relative;
      will-change: transform;
      position: absolute;
      border-radius: 50%;

      &.shape:nth-child(2) {
        background: #8970ef;
        width: 800px;
        height: 800px;
        margin: (-800px/2) 0 0 (-800px/2);

        [data-theme="light"] & {
          background: #1d1d1f;
        }
      }

      &.shape:nth-child(3) {
        background: #f3eba0;
        width: 320px;
        height: 320px;
        margin: (-320px/2) 0 0 (-320px/2);

        [data-theme="light"] & {
          background: #ed6b55;
        }
      }
    }
  }

  .textHolder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;

    [data-theme="dark"] & {
      @media (hover: hover) {
        background: #000;
        mix-blend-mode: darken;
      }
    }

    [data-theme="light"] & {
      @media (hover: hover) {
        background: #fff;
        mix-blend-mode: screen;
      }
    }

    &.textHolder1 {
      h2 {
        visibility: hidden;
      }
    }

    &.textHolder2 {
      background: transparent;
      mix-blend-mode: normal;

      h1 {
        visibility: hidden;
      }
    }

    .container {
      width: 100%;
      height: calc(100% - 95px);
      padding: 45px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .textWrap {
      max-width: 380px;
      margin: 0 auto;

      @media (min-width: 800px) {
        max-width: 760px;
      }

      svg {
        display: none;
        width: 48px;
        height: auto;
        margin: 0 0 8px;

        path {
          stroke: #fff;

          [data-theme="light"] & {
            stroke: #1d1d1f;
          }
        }
      }
    }

    h1 {
      margin: 0 0 16px;
      font-size: 36px;
      font-weight: 600;
      line-height: 120%;
      color: #fff;

      [data-theme="light"] & {
        color: #000;
      }

      @media (min-width: 800px) {
        margin: 0 0 30px;
        font-size: 64px;
      }
    }

    h2 {
      font-size: 16px;
      font-weight: 500;
      line-height: 182%;
      color: #fff;

      [data-theme="light"] & {
        color: #1d1d1f;
      }

      @media (min-width: 800px) {
        font-size: 20px;
      }

      span:not([class]) {
        display: inline-block;
        background: #fff;
        color: #000;
        padding: 0 7px;
        border-radius: 8px;
        border-color: #584997;
        border-style: solid;
        border-width: 0 0 3px 3px;
        line-height: 154%;

        [data-theme="light"] & {
          background: #f4f3f1;
          border-color: #ed6b55;
        }
      }
    }
  }

  .parallax {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    z-index: 1;
    pointer-events: none;

    @media (max-width: 800px) {
      z-index: 0;
    }

    .par {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      will-change: transform;
      &_1 {
        left: clamp(-883px, px2vw(-883), -300px);
        top: clamp(-368px, px2vw(-368), -100px);

        @media (max-width: 800px) {
          top: -5%;
          left: -30%;
        }
      }
      &_2 {
        left: clamp(-622px, px2vw(-622), -250px);
        top: clamp(-368px, px2vw(-368), -100px);

        @media (max-width: 800px) {
          top: 5%;
          left: -40%;
        }
      }
      &_3 {
        left: clamp(400px, px2vw(1044), 1044px);
        top: clamp(-910px, px2vw(-910), -300px);

        @media (max-width: 800px) {
          left: 65%;
          top: -5%;
        }
      }
      &_4 {
        left: clamp(400px, px2vw(1172), 1172px);
        top: clamp(-52px, px2vw(-52), -1px);

        @media (max-width: 800px) {
          left: 60%;
          top: 10%;
        }
      }
      &_5 {
        left: clamp(500px, px2vw(1436), 1436px);
        top: clamp(2px, px2vw(77), 77px);

        @media (max-width: 800px) {
          left: 75%;
          top: 15%;
        }
      }
      &_6 {
        left: clamp(100px, px2vw(344), 344px);
        top: clamp(300px, px2vw(1017), 1017px);

        @media (max-width: 800px) {
          top: 85%;
          left: 20%;
        }
      }
      &_7 {
        left: clamp(200px, px2vw(743), 743px);
        top: clamp(50px, px2vw(323), 323px);

        @media (max-width: 800px) {
          top: 50%;
          left: calc(50% - 50px);
        }

        .llax {
          width: clamp(150px, px2vw(602), 602px);
        }
      }
    }
    .llax {
      background: linear-gradient(287deg, #8970ef -0.38%, rgba(137, 112, 239, 0) 121.08%);
      aspect-ratio: 1;
      display: flex;
      border-radius: clamp(20px, px2vw(60), 60px);
      transform: rotate(-45deg);
      opacity: 0.1;
      width: clamp(200px, px2vw(1226), 1226px);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

      @media (max-width: 800px) {
        max-width: 350px;
        opacity: 0.25;
      }
    }
  }
}
