.intro {
  // overflow: hidden;
  position: relative;
  z-index: 1;

  .wrapp {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 85px 0 65px;

    // [data-theme="light"] & {
    //   color: #1d1d1f;
    // }

    @media (min-width: 800px) {
      padding: 200px 0 125px;
    }

    .title {
      @media (min-width: 800px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
      }

      h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        margin: 0;

        @media (min-width: 800px) {
          font-size: 48px;
        }
      }

      .subtitle {
        font-size: 14px;
        margin: 14px 0;
        max-width: 655px;

        @media (min-width: 1440px) {
          font-size: 18px;
        }
      }

      .description {
        display: flex;
        align-items: flex-start;
        gap: 6px;
        flex: none;
        justify-content: flex-end;

        [data-theme="light"] & {
          p {
            color: #ed6b55;
          }

          svg path {
            stroke: #ed6b55;
          }
        }

        .icon {
          display: flex;
        }

        p {
          font-size: 24px;
          width: 208px;
          line-height: 20px;
        }
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-top: 20px;

      p {
        display: flex;
        align-items: center;
        padding: 6px 8px;
        border-radius: 12px;
        gap: 8px;
        background-color: rgba(#fff, 0.1);
        font-size: 10px;

        [data-theme="light"] & {
          background-color: rgba(#fff, 0.8);
        }

        @media (min-width: 800px) {
          font-size: 12px;
        }

        @media (min-width: 1440px) {
          font-size: 14px;
        }

        &::before {
          content: "";
          width: 16px;
          aspect-ratio: 1;
          clip-path: path(
            "M13.7833 4.19895C14.0722 4.46421 14.0722 4.89428 13.7833 5.15954L6.55046 11.8011C6.26158 12.0663 5.79321 12.0663 5.50433 11.8011L2.21666 8.78219C1.92778 8.51692 1.92778 8.08685 2.21666 7.82159C2.50554 7.55633 2.97391 7.55633 3.26279 7.82159L6.0274 10.3602L12.7372 4.19895C13.0261 3.93368 13.4945 3.93368 13.7833 4.19895Z"
          );
          background-color: #8970ef;

          [data-theme="light"] & {
            background-color: #ed6b55;
          }
        }
      }
    }
  }

  .back {
    position: absolute;

    aspect-ratio: 81/70;
    background: url("/img/cases_bg.svg") center/cover no-repeat;
    z-index: -1;
    opacity: 0.2;
    pointer-events: none;
    left: 50px;
    top: -155px;
    width: 517px;

    @media (min-width: 800px) {
      bottom: -50px;
      right: -75px;
      width: 810px;
      left: auto;
      top: auto;
    }
  }
}
