.beat {
  background-color: white;

  position: relative;
  z-index: 2;

  .wrapp {
    display: flex;
    align-items: flex-end;
    .image {
      display: flex;
      background-color: #ececee;
      justify-content: center;
      overflow: hidden;
      width: 100%;

      @media (min-width: 800px) {
        margin-top: -95px;
        border-radius: 0 6px 6px 0;
        width: 85%;
      }

      .key {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 416/216;
        // overflow: hidden;
        min-height: 216px;

        @media (min-width: 800px) {
          height: clamp(500px, 45vw, 722px);
          max-width: 1217px;
          overflow: visible;

          img {
            transform: translate(2%, 2%);
          }
        }

        img {
          width: 132%;
          height: auto;
          flex: none;
          pointer-events: none;
        }
      }
    }

    .logo {
      display: none;
      @media (min-width: 800px) {
        display: flex;
        background: url("/img/beat-metric-logo.svg") center/cover no-repeat;
        width: clamp(20px, 2vw, 35px);
        aspect-ratio: 29/139;
        margin-left: 3%;
      }
    }
  }
}
