.root {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #FFF;
  padding: 14px 22px 16px;
  color: #FFF;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  [data-theme="light"] & {
    border: 1px solid #ED6B55;
    color: #ED6B55;
  }

  @media (min-width: 801px) {
    padding: 14px 24px 16px;
  }

  &.fill {
    border: none;
    background-color: #584997;
    color: #fff;

    [data-theme="light"] & {
      background-color: #ED6B55;
    }
  }

  &.submit {
    padding-left: 40px;
    background-image: url('/img/icons/attach-w.svg');
    background-repeat: no-repeat;
    background-position: 17px center;

    @media (min-width: 801px) {
      padding-left: 48px;
      background-position: 22px center;
    }
  }

  &.black {
    color: #1D1D1F;
    border-color: #1D1D1F;
    background-image: url('/img/icons/attach.svg');
  }

  &.close {
    padding-left: 40px;
    background-image: url('/img/icons/close.svg');
    background-repeat: no-repeat;
    background-position: 17px center;

    [data-theme="light"] & {
      background-image: url('/img/icons/close-p.svg');
    }

    @media (min-width: 801px) {
      padding-left: 48px;
      background-position: 22px center;
    }
  }
}