@function px2vw($px, $def_screen: 1920) {
  $vw: calc($def_screen * 0.01);
  @return calc(($px/$vw) * 1vw);
}

.root {
  background: #000;
  padding: 20px 0 60px;
  color: #fff;


  [data-theme="light"] & {
    background: #efedea;
    color: #1d1d1f;
  }

  .rootWrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    position: relative;
    z-index: 1;

    @media (min-width: 801px) {
      gap: 60px 80px;
      flex-direction: row;
    }

    @media (min-width: 1001px) {
      gap: 60px 120px;
    }
  }

  .text {
    @media (max-width: 800px) {
      max-width: 360px;
    }

    @media (min-width: 801px) {
      width: calc(50% - 40px);
    }

    @media (min-width: 1001px) {
      width: calc(50% - 60px);
    }

    h3 {
      font-size: 36px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -1px;
      text-transform: capitalize;

      @media (min-width: 801px) {
        font-size: 54px;
      }

      @media (min-width: 1001px) {
        font-size: 64px;
      }
    }

    p {
      margin: 16px 0 24px;
      font-size: 16px;
      font-weight: 500;
      line-height: 182%;

      @media (min-width: 801px) {
        font-size: 18px;
      }

      @media (min-width: 1001px) {
        font-size: 20px;
      }
    }

    .email {
      display: inline-block;
      padding: 6px 12px;
      border-radius: 12px;
      background: #fff;
      border-color: #584997;
      border-style: solid;
      border-width: 0 0 3px 3px;
      color: #1d1d1f;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;

      [data-theme="light"] & {
        border-color: #ed6b55;
      }

      @media (min-width: 801px) {
        font-size: 20px;
      }
    }
  }

  .form {
    @media (min-width: 801px) {
      width: calc(50% - 40px);
    }

    @media (min-width: 1001px) {
      width: calc(50% - 60px);
    }

    .wrap {
      display: flex;
      flex-direction: column;
      margin: 0 0 24px;
    }

    label {
      margin: 0 0 10px;
      font-size: 14px;
      font-weight: 500;
    }

    input {
      outline: none;
      width: 100%;

      &::placeholder {
        color: #7e7e7e;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .vacancyWrap {
      cursor: pointer;
      width: 100%;
      background-image: url("/img/icons/select-down.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 15px) center;

      [data-theme="light"] & {
        background-image: url("/img/icons/select-down-p.svg");
      }

      &.active {
        background-image: url("/img/icons/select-up.svg");

        & + .list {
          display: flex;
        }
      }

      input {
        pointer-events: none;
        position: relative;

        &::placeholder {
          color: #fff;

          [data-theme="light"] & {
            color: #7e7e7e;
          }
        }
      }
    }

    .list {
      display: none;
      flex-direction: column;
      background: #1d1d1f;
      border-radius: 12px;
      margin: 4px 0 0;

      [data-theme="light"] & {
        background: #fff;
      }

      span {
        cursor: pointer;
        display: block;
        padding: 14px 16px 14px 46px;

        &.active {
          background-image: url("/img/icons/check.svg");
          background-repeat: no-repeat;
          background-position: 15px center;
        }

        &:hover {
          background-color: #18181a;

          [data-theme="light"] & {
            background: #efedea;
          }
        }
      }
    }

    input[type="text"],
    textarea {
      border-radius: 12px;
      border: 1px solid #4d4d5d;
      padding: 14px 16px;
      background: transparent;
      color: #fff;

      [data-theme="light"] & {
        color: #1d1d1f;
      }

      &.disabled {
        background: url("/img/icons/important.svg") no-repeat calc(100% - 15px) center;
        border-color: #eb4b62;
      }
    }

    textarea {
      outline: none;
      width: 100%;
      height: 144px;
      max-width: 100%;
      min-width: 100%;
      max-height: 220px;
      min-height: 144px;
    }

    .drop {
      position: relative;
      border-radius: 12px;
      border: 1px dashed #6856b5;
      padding: 24px 16px 32px 16px;
      text-align: center;

      &.disabled {
        border-color: #eb4b62;
      }

      input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      p {
        margin: 4px 0 0;
        font-size: 16px;
        font-weight: 400;
      }

      span {
        display: inline-block;
        font-size: 10px;
        font-weight: 400;
      }

      svg path {
        stroke: #fff;

        [data-theme="light"] & {
          stroke: #eb4b62;
        }
      }
    }

    .attach {
      position: relative;
      margin: 8px 0 0;
      padding: 15px 54px 13px 51px;
      border-radius: 12px;
      overflow: hidden;
      background: #1d1d1f url("/img/icons/pdf.svg") no-repeat 16px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      text-overflow: ellipsis;
      text-wrap: nowrap;

      .remove {
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 16px;
        width: 24px;
        height: 24px;
        background: url("/img/icons/trash.svg") no-repeat center;
      }
    }

    .buttonWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.loading {
        .button {
          display: none;
        }

        .loading {
          display: block;
        }
      }

      &.done {
        .button {
          display: none;
        }

        .done {
          display: block;
        }

        .success {
          border-color: green;
        }
      }

      &.error {
        .success {
          border-color: #eb4b62;
        }
      }

      .success {
        border-left: 4px solid #1d1d1f;
        padding: 13px 24px 12px;
        border-radius: 12px;
        background: #1d1d1f;
        width: calc(100% - 130px);
        font-size: 14px;
        font-weight: 400;
        line-height: 166%;

        [data-theme="light"] & {
          background: #fff;
        }
      }

      .button {
        margin: 0 0 0 auto;
      }

      .done,
      .loading {
        display: none;
        margin: 0 0 0 auto;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #6856b5;
        background-repeat: no-repeat;
        background-position: center;

        [data-theme="light"] & {
          background-color: #ed6b55;
        }
      }

      .done {
        background-image: url("/img/icons/done.svg");
      }

      .loading {
        background-image: url("/img/icons/loading-btn.svg");
      }
    }
  }

  .book_call {
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: clamp(16px, px2vw(24), 24px) clamp(20px, px2vw(32), 32px);
    border-radius: 20px;
    background: #584997;
    align-self: flex-start;
    justify-content: space-between;
    gap: clamp(24px, px2vw(60), 60px);
    transition: background-color 0.3s ease-in-out;
    margin-top: clamp(20px, px2vw(32), 32px);

    .txt {
      display: flex;
      flex-direction: column;
      gap: 4px;

      span {
        &:nth-child(1) {
          font-size: clamp(18px, px2vw(24), 24px);
        }
        &:nth-child(2) {
          font-size: 14px;
        }
      }
    }

    .icon {
      width: clamp(42px, px2vw(48), 48px);
      aspect-ratio: 1;
      border-radius: 50%;
      background: rgb(105 92 162) url("/img/icons/str-small-w.svg") center/24px no-repeat;
      transition: background-color 0.3s ease-in-out;
    }

    &:hover {
      .icon {
        background-color: #584997;
      }
    }
  }

  .back {
    position: absolute;
    aspect-ratio: 81/70;
    background: url("/img/cases_bg.svg") center/cover no-repeat;
    pointer-events: none;
    width: clamp(450px, px2vw(900), 900px);
    bottom: -20%;
    left: -1%;
    transform: rotate(180deg);

    @media (max-width: 800px) {
      left: 50px;
      top: -155px;
      width: 517px;
      bottom: auto;
      left: auto;
      transform: none;
    }
  }
}
