.root {
  >*:first-child {
    margin-top: 0;
  }

  >*:last-child {
    margin-bottom: 0;
  }

  background: #fff;

  p,
  ol,
  ul,
  h2,
  h3,
  h4 {
    margin: 20px 0;
  }

  ol,
  ul {
    margin-top: 10px;
    padding: 0 0 0 24px;
  }

  p {
    font-size: 16px;

    @media (min-width: 801px) {
      font-size: 18px;
    }
  }

  p,
  li {
    line-height: 150%;
    font-weight: 400;
    font-size: 14px;

    @media (min-width: 801px) {
      font-size: 16px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-IBMPlexSans);

    @media (min-width: 801px) {
      font-size: 24px;
    }
  }
}