.root {
  @media (hover: none) {
    .icon {
      display: block;
    }
  }

  .items {
    display: flex;
    gap: 24px;

    @media (max-width: 800px) {
      margin-left: -15px;
      width: calc(100% + 30px);
      padding: 0 15px 10px 15px;
      scroll-padding: 0 15px;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (min-width: 800px) {
      flex-wrap: wrap;
    }

    .item {
      position: relative;
      overflow: hidden;

      @media (max-width: 800px) {
        flex: 0 0 80%;
        scroll-snap-align: start;
      }

      @media (min-width: 800px) {
        width: calc(33.33334% - 16px);
      }

      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 6px;
        background: #ECECEE;
        color: #1D1D1F;

        [data-theme="light"] & {
          background: #fff;
        }

        @media (min-width: 800px) {
          padding: 32px;
        }

        &.button {
          background: #584997;
          color: #fff;

          [data-theme="light"] & {
            background: #ED6B55;
          }
        }
      }

      .button {
        cursor: pointer;

        .tags {
          border-top-color: rgba(255, 255, 255, 0.20);
        }

        .icon {
          background: #6856B5 url('/img/icons/attach-big-w.svg') no-repeat center;
        }
      }

      .link {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .ico {
        max-width: 48px;
        max-height: 48px;
        object-fit: contain;
      }

      h3 {
        margin: 18px 0 8px;
        font-size: 24px;
        font-weight: 600;
      }

      p {
        font-size: 14px;
        font-weight: 500;
      }

      .tags {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 15px 0 0;
        padding: 14px 0 0;
        border-top: 1px solid rgba(29, 29, 31, 0.20);

        .tag {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            max-width: 18px;
            max-height: 18px;
            object-fit: contain;
          }

          span {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px 16px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #584997;
    background-image: url('/img/icons/str-small-w.svg');
    background-repeat: no-repeat;
    background-position: center;

    [data-theme="light"] & {
      background-color: #ED6B55;
    }

    @media (min-width: 800px) {
      margin: 32px 32px 0 0;
    }
  }
}