@import "@/styles/variables.scss";

.root {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  background: #000;
  padding: 60px 0;
  color: #fff;

  @media (min-width: 801px) {
    padding: 130px 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media (min-width: 801px) {
      gap: 48px;
    }

    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 35px;

      @media (max-width: 800px) {
        display: contents;

        .link {
          order: 2;
          align-self: flex-start;
        }
      }

      h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 116%;
        letter-spacing: -1px;

        @media (min-width: 801px) {
          font-size: 48px;
          max-width: 590px;
        }
      }

      .navs {
        display: none;

        @media (min-width: 801px) {
          display: flex;
          gap: 24px;
          flex: 1;

          .nav {
            all: unset;
            width: 48px;
            aspect-ratio: 1;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none'%3E%3Cpath d='M19.125 33.75L28.875 24L19.125 14.25' stroke='%23ECECEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
              center/cover no-repeat;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out;

            &[data-nav-prev] {
              transform: rotate(-180deg);
            }
            &:active {
              scale: 1.1;
            }
            &:disabled {
              opacity: 0.4;
              pointer-events: none;
            }
          }
        }
      }
    }

    &_slider {
      width: 100%;
      margin: 0;
      overflow: visible;
    }
    &_bar {
      width: 100%;
      height: 3px;
      background-color: #28282a;
      border-radius: 12px;
      overflow: hidden;

      &_pr {
        height: 100%;
        background-color: #a3a3ad;
        transition: transform 0.3s;
        cursor: pointer;
        border-radius: 12px;
      }
    }

    .slide {
      width: 60%;
      overflow: hidden;

      @media (max-width: 800px) {
        width: 90%;
      }
    }
  }

  [data-fade] {
    opacity: 1;

    &[data-child] {
      opacity: 1;

      & > * {
        opacity: 1;
      }
    }
  }
}
