body {
  // background: #000;
  color: red;

  * {
    // cursor: default;
    box-sizing: border-box;
  }
}

main {
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 150%;
  font-weight: 400;
}

@keyframes grained {
  0% {
    transform: translate(-10%, 10%);
  }

  10% {
    transform: translate(-25%, 0%);
  }

  20% {
    transform: translate(-30%, 10%);
  }

  30% {
    transform: translate(-30%, 30%);
  }

  40% {
    transform: translate();
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(-20%, 20%);
  }

  70% {
    transform: translate(-5%, 20%);
  }

  80% {
    transform: translate(-25%, 5%);
  }

  90% {
    transform: translate(-30%, 25%);
  }

  100% {
    transform: translate(-10%, 10%);
  }
}