.root {
  color: #fff;

  [data-theme="light"] & {
    color: #1d1d1f;
  }

  .wrap {
    max-width: 400px;

    @media (min-width: 800px) {
      max-width: 640px;
    }

    &.center {
      margin: 0 auto;
      text-align: center;
    }
  }

  h1 {
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: 600;
    line-height: 116%;
    letter-spacing: -1px;

    @media (min-width: 800px) {
      margin: 0 0 18px;
      font-size: 48px;
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 145%;

    @media (min-width: 800px) {
      font-size: 18px;
    }
  }

  .back {
    position: absolute;
    aspect-ratio: 81/70;
    background: url("/img/cases_bg.svg") center/cover no-repeat;
    opacity: 0.2;
    pointer-events: none;
    left: 50px;
    top: -155px;
    width: 517px;

    @media (min-width: 800px) {
      right: -75px;
      width: 810px;
      left: auto;
    }
  }
}
