@import '@/styles/variables.scss';

.root {
  color: #1D1D1F;

  .wrap {
    max-width: 750px;
    margin: 0 auto;
  }

  .head {
    margin: 0 0 -70px;

    .wrap {
      position: relative;
    }

    .info {
      margin: 30px 0 0;
      padding: 16px;
      border-radius: 20px;
      background: #ECECEE;

      [data-theme="light"] & {
        background: #E0E0E1;
      }

      @media (min-width: 800px) {
        padding: 32px 40px;
      }
    }

    .buttonWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px;
    }

    h1 {
      margin: 0 0 6px -2px;
      font-size: 28px;
      font-weight: 600;
      line-height: 116%;
      letter-spacing: -1px;
      text-transform: capitalize;
      font-family: var(--font-IBMPlexSans);

      @media (min-width: 800px) {
        margin-left: -3px;
        font-size: 48px;
      }
    }

    p {
      font-size: 14px;
      font-weight: 500;
    }

    .tags {
      border-top: 1px solid rgba(29, 29, 31, .20);
      margin: 16px 0 0;
      padding: 16px 0 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px 16px;

      @media (min-width: 800px) {
        gap: 32px;
      }

      .tag {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        font-weight: 400;

        @media (min-width: 800px) {
          font-size: 14px;
        }

        img {
          max-width: 24px;
          max-height: 24px;
          object-fit: contain;
        }
      }
    }
  }

  .editorWrap {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0 55px;

    @media (min-width: 800px) {
      padding: 110px 0 80px;
    }

    .button {
      display: flex;
      justify-content: flex-end;
      margin: 30px 0 0;
    }
  }
}

.back {
  cursor: pointer;
  background: url('/img/icons/back.svg') no-repeat left center;
  padding: 0 0 0 22px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;

  [data-theme="light"] & {
    background: url('/img/icons/back-b.svg') no-repeat left center;
    color: #1D1D1F;
  }
}
