.root {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  width: 100%;
  background: #000;
  transition: transform 0.3s 0s ease;

  [data-theme="light"] & {
    background: #fff;
  }

  &.hide {
    transform: translateY(-100%);
  }

  &.open {
    @media (max-width: 800px) {
      position: fixed;
      height: 100%;

      .menu {
        overflow: auto;
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 0;
        background: #000;
        width: 100%;
        height: 100%;
        padding: 40px 15px 20px;
        margin: 0;
        text-align: center;

        [data-theme="light"] & {
          background: #fff;
        }

        > a {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding: 6vh 0;

          [data-theme="light"] & {
            border-bottom-color: #e0e0e1;
          }

          &:after {
            display: none;
          }
        }
      }

      .mobileButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        margin: 10vh 0 20px;

        > a {
          width: 385px;
          max-width: 100%;
        }

        .social {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          svg path {
            fill: #fff;

            [data-theme="light"] & {
              fill: #1d1d1f;
            }
          }
        }
      }

      .menuIcon {
        &:before {
          top: 9px;
          transform: rotate(45deg);
        }

        &:after {
          top: 9px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .mobileButtons {
    display: none;
  }

  .headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    z-index: 11;
    position: relative;

    img {
      max-width: 100%;
      width: 144px;
      height: auto;

      @media (min-width: 801px) {
        width: 175px;
      }
    }
  }

  .menu {
    display: flex;
    gap: 24px;

    @media (max-width: 800px) {
      display: none;
    }

    > a {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;

      [data-theme="light"] & {
        color: #1d1d1f;
      }
    }
  }

  .buttonWrap {
    @media (max-width: 800px) {
      display: none;
    }
  }

  .menuIcon {
    z-index: 11;
    position: relative;
    width: 20px;
    height: 20px;

    @media (min-width: 801px) {
      display: none;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;

      [data-theme="light"] & {
        background: #1d1d1f;
      }
    }

    &:before {
      top: 5px;
    }

    &:after {
      top: 13px;
    }
  }

  [data-child] {
    opacity: 0;
  }

  &[data-no-bg] {
    background-color: transparent !important;
    transition: 0.3s ease-in-out;
  }
}
