.root {
  background: #000;
  padding: 60px 0;
  color: #fff;

  [data-theme="light"] & {
    background: #EFEDEA;
    color: #1D1D1F;
  }

  @media (min-width: 800px) {
    padding: 130px 0;
  }

  .rootWrap {
    @media (min-width: 800px) {
      display: grid;
      grid-template-areas:
        "text text button"
        "items items items";
    }
  }

  .items {
    grid-area: items;
    margin: 50px 0 0;

    @media (max-width: 800px) {
      margin: 34px 0 24px;
    }
  }

  .text {
    grid-area: text;
    max-width: 460px;

    @media (min-width: 800px) {
      max-width: 660px;
    }

    h2 {
      margin: 0 0 12px;
      font-size: 28px;
      font-weight: 600;
      line-height: 116%;
      letter-spacing: -1px;

      @media (min-width: 800px) {
        margin: 0 0 16px;
        font-size: 48px;
      }
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: normal;

      @media (min-width: 800px) {
        font-size: 18px;
      }
    }
  }

  .buttonWrap {
    grid-area: button;

    @media (min-width: 800px) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
}