.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.home, &.cases {
    .content {
      padding: 0;
    }
  }

  &[data-theme="light"] {
    .content {
      background: #EFEDEA;
    }
  }

  .content {
    background: #000;
    padding: 85px 0 0 0;
    flex-grow: 1;

    @media (min-width: 801px) {
      padding: 165px 0 0 0;
    }
  }

  .bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: auto;
  }
}