.health {
  color: #1d1d1f;
  background-color: #e2e2e2;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;

  @media (min-width: 800px) {
    min-height: clamp(500px, 59vw, 900px);
    padding: 150px 0;
  }

  .wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media (max-width: 799px) {
      flex-direction: column;
    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      padding-top: 40px;
      z-index: 1;

      @media (min-width: 800px) {
        max-width: 565px;
        padding: 0;

        .subtitle {
          max-width: 460px;
        }
      }

      @media (min-width: 1441px) {
        gap: 14px;
      }

      .tag {
        @media (max-width: 799px) {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &::after {
            content: "";
            width: 24px;
            height: 24px;
            background: url("/img/icons/str-small.svg") no-repeat center;
          }
        }

        p {
          background-color: rgba(#1d1d1f, 0.1);
          padding: 8px;
          border-radius: 6px;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 16px;
          letter-spacing: 0.01em;
          font-size: 10px;

          @media (min-width: 800px) {
            font-size: 12px;
          }

          @media (min-width: 1441px) {
            font-size: 14px;
          }
        }
      }

      h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1px;
        margin: 0;

        @media (min-width: 800px) {
          font-size: 48px;
        }
      }

      .subtitle {
        font-size: 14px;

        @media (min-width: 1441px) {
          font-size: 18px;
          max-width: none;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        margin-top: 12px;
        gap: 24px;

        a {
          display: flex;
          align-items: center;

          @media (max-width: 799px) {
            &:not(.huma) {
              display: none;
            }
          }
        }

        .ico {
          width: 16px;
          display: inline-flex;
          margin-left: 8px;
          svg {
            width: 100%;
            height: auto;
          }
        }

        .huma {
          color: #1d1d1f;
          font-weight: 500;
        }
      }
    }

    .image {
      display: flex;

      @media (max-width: 799px) {
        margin-bottom: -100px;
        .desk {
          display: none;
        }

        img {
          background-color: rgba(0, 0, 0, 0.25);
          box-shadow: -17px 17px 32px rgba(0, 0, 0, 0.25);
          border-radius: 50px;
          // border-radius: 74px;
          width: 270px;
          height: auto;

          @media (min-width: 1024px) {
            border-radius: 74px;
            width: 381px;
          }
        }
      }
      @media (min-width: 800px) {
        position: absolute;
        right: 0;
        width: 100vw;
        max-width: 1440px;
        top: 50%;
        transform: translateY(-50%);

        img {
          width: 100%;
          height: auto;
        }
        .mobile {
          display: none;
        }
      }
    }
  }
}
