.root {
  &.mob {
    display: none;
  }

  .pointerActions {
    z-index: 999;
    pointer-events: none;
    position: relative;

    .action {
      position: fixed;
      top: 0;
      left: 0;
      transform: translate(49vw, 49vh);

      div {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all .3s 0s ease;
      }
    }

    .hidden {
      opacity: 0;

      &.visible {
        opacity: 1;
      }
    }

    .circle {
      div {
        margin: -17px 0 0 -17px;
        width: 35px;
        height: 35px;
        border: 1px solid #fff;
      }

      &.link div {
        margin: -13px 0 0 -13px;
        width: 26px;
        height: 26px;
        background: #fff;
      }

      &.button div {
        margin: -23px 0 0 -23px;
        width: 46px;
        height: 46px;
        background: #fff;
      }
    }

    .point {
      div {
        margin: -3px 0 0 -3px;
        width: 7px;
        height: 7px;
        background: #fff;
      }

      &.dragging div {
        opacity: 0;
      }

      &.link div {
        opacity: 0;
      }

      &.button div {
        opacity: 0;
      }
    }

    .drag {
      // outline: 1px solid;
      position: fixed;
      top: 0;
      left: 0;
      transform: translate(49vw, 49vh);
      margin: -2px 0 0 -47px;
      width: 95px;
      height: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:before,
      &:after {
        content: '';
        width: 8px;
        height: 8px;
        border: 1px solid;
        transform: rotate(45deg);
      }

      &:before {
        border-color: transparent transparent #fff #fff;
      }

      &:after {
        border-color: #fff #fff transparent transparent;
      }
    }

    // .open {
    //   margin: -34px 0 0 -34px;
    //   width: 68px;
    //   height: 68px;
    //   background: #000 url('/img/icons/str.svg') no-repeat center;
    // }

    // .drag {
    //   margin: -52px 0 0 -52px;
    //   width: 104px;
    //   height: 104px;
    //   background: #6856B5;
    //   box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);

    //   [data-theme="light"] & {
    //     background: #ED6B55;
    //   }
    // }

    // .submit {
    //   margin: -34px 0 0 -34px;
    //   width: 68px;
    //   height: 68px;
    //   background-color: #6856B5;
    //   background-image: url('/img/icons/attach-big-w.svg');
    //   background-repeat: no-repeat;
    //   background-position: center;

    //   [data-theme="light"] & {
    //     background-color: #ED6B55;
    //   }
    // }
  }

  .blendedMode {
    mix-blend-mode: difference;
  }
}