.root {
  background: #fff;
  padding: 70px 0;
  color: #1D1D1F;

  [data-theme="light"] & {
    background: #fff;
  }

  @media (min-width: 800px) {
    padding: 154px 0 125px;
  }

  .progress {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 800px) {
      max-width: 360px;
      gap: 30px;
      margin: 0 auto;
    }
  }

  .item {
    text-align: center;

    @media (max-width: 800px) {
      &.icon {
        display: none;
      }
    }

    &.icon {
      svg path {
        stroke: #584997;

        [data-theme="light"] & {
          stroke: #ED6B55;
        }
      }
    }

    .num {
      margin: 0 0 8px;
      font-size: 28px;
      font-weight: 600;
      line-height: 110%;

      @media (min-width: 800px) {
        font-size: 36px;
      }

      span {
        color: #6856B5;

        [data-theme="light"] & {
          color: #ED6B55;
        }
      }
    }

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 157%;

      @media (min-width: 800px) {
        font-size: 18px;
      }
    }
  }
}