.cases {
  display: flex;
  flex-direction: column;

  .health {
    color: #1d1d1f;

    @media (max-width: 799px) {
      overflow: hidden;
    }

    &:nth-child(1) {
      background-color: #ececee;

      .image {
        @media (min-width: 800px) {
          transform: translateY(-95px);
        }
      }
    }

    &:nth-child(2) {
      background-color: #e2e2e2;
      overflow: hidden;

      .wrapp {
        flex-direction: row-reverse;
      }

      .image {
        order: -1;

        @media (min-width: 800px) {
          order: unset;
          transform: translateY(80px);
        }
      }
    }

    .wrapp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;

      @media (max-width: 800px) {
        flex-direction: column-reverse !important;
      }

      .image {
        display: flex;

        @media (max-width: 799px) {
          margin-bottom: -100px;

          .desk {
            display: none;
          }
        }

        @media (min-width: 800px) {
          .mobile {
            display: none;
          }
        }

        img {
          width: 270px;
          height: auto;

          @media (min-width: 1024px) {
            width: 380px;
          }
        }
      }

      .content {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding-top: 40px;

        @media (min-width: 800px) {
          max-width: 565px;
          padding: 0;

          .subtitle {
            max-width: 460px;
          }
        }

        @media (min-width: 1440px) {
          gap: 14px;
        }

        .mobile_link {
          display: none;

          @media (max-width: 799px) {
            position: absolute;
            right: 0;
            display: flex;
            width: 24px;
            height: 24px;
            background: url("/img/icons/str-small.svg") no-repeat center;
          }
        }

        .tags {
          display: flex;
          gap: 10px;
          margin: 0 0 15px;

          p {
            border-radius: 6px;
            background: rgba(29, 29, 31, 0.10);
            padding: 8px;
            font-size: 10px;
            font-weight: 600;
            line-height: 133%;
            letter-spacing: 0.12px;
            text-transform: uppercase;

            @media (min-width: 800px) {
              font-size: 12px;
            }
          }
        }

        h2 {
          font-size: 28px;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: -1px;
          margin: 0;

          @media (min-width: 800px) {
            font-size: 48px;
          }
        }

        .subtitle {
          font-size: 14px;

          @media (min-width: 1440px) {
            font-size: 18px;
            max-width: none;
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          margin-top: 12px;
          gap: 24px;

          @media (max-width: 799px) {
            flex-direction: column;
            align-items: flex-start;
          }

          a {
            display: flex;
            align-items: center;
          }

          .ico {
            width: 16px;
            display: inline-flex;
            margin-left: 8px;

            svg {
              width: 100%;
              height: auto;
            }
          }

          .site {
            color: #1d1d1f;
            font-weight: 500;
          }
        }
      }
    }
  }
}