.root {
  &:nth-child(2n+1) {
    >div {
      background: #ececee;
    }

    >div>div {
      flex-direction: row-reverse;
    }

    div[data-textHolder] {
      padding: 40px 40px 40px 6vw;
    }
  }

  &:nth-child(2n+2) {
    >div {
      background: #e2e2e2;
    }
  }
}